{% extends 'base.html' %}

{% block title %}{{ current_site.name }} - Login{% endblock %}

{% block content %}
  <div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">
      div class="columns is-centered">
    <div class="column is-4">
        <h1 class="title">Login</h1>
        
        <div class="notification is-info is-light">
            <p>Welcome to Matorral! Please enter your credentials to access your workspace. If you have forgotten your password, contact your administrator.</p>
        </div>

        <form method="post">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <div class="field">
              {{ field.errors }}
              <label class="label">{{ field.label_tag }}</label>
              <div class="control">
                {{ field }}
              </div>
              {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
              {% endif %}
            </div>
        {% endfor %}
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-success is-medium" type="submit">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
